.accordion{
    height: 100vh;
    background-color: rgb(78, 16, 136);
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-container{
    background-color: white;
    width: 70%;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    padding: 20px;
    min-width: 500px;
}

.accordion-title{
    width: 200px;
}

.accordion-question-container{
    width: 60%;
    min-width: 400px;

}

.accordion-question{

    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 15px;
}

.accordion-info{
    max-width: 80%;
}

.accordion-btn{
    position: relative;
    left: 90%;
    bottom: 20px;
    background-color: gray;
    color: darkred;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    font-weight: bold;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;


}